.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 6.5rem;

  h1 {
    text-align: center;
    line-height: 44px;
    font-size: 32px;
    font-weight: 700;
    max-width: 20ch;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }

  .divider {
    width: 150px;
    height: 2px;
    background-color: #181818;
    margin: 2rem 0 3.25rem;
  }
}

.content {
  width: 100%;
  max-width: 1400px;
}

.services_list {
  .service {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;

    .service_image {
      position: relative;
      width: 50%;
      max-width: 500px;
      height: 350px;
      box-shadow: 0 7.5px 25px rgba(0, 0, 0, 0.1);

      img {
        object-fit: cover;
        z-index: 2;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 55px;
        height: 55px;
        z-index: 1;
      }

      &::after {
        top: -12.5px;
        left: -12.5px;
        background-color: #181818;
      }

      &::before {
        bottom: -12.5px;
        right: -12.5px;
        background-color: #882e4c;
      }
    }

    .service_info {
      width: 50%;
      max-width: 500px;
      padding: 2rem 4rem;
      padding: 2rem 0 2rem 4rem;

      h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      p {
        font-weight: 300;
        margin-top: 0.5rem;
      }
    }
  }

  .service:nth-child(even) {
    flex-direction: row-reverse;

    .service_info {
      padding: 2rem 4rem 2rem 0;
    }
  }
}

.before_after {
  display: grid;
  place-items: center;
  margin: 8rem 0 6rem;

  .slider_wrapper {
    width: 100%;
    max-width: 1000px;
    height: 600px;

    .after {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      box-shadow: 0 7px 30px rgba(0, 0, 0, 0.04);
      background: url("/services/after.jpg");
      background-position-y: -60px;
      overflow: hidden;

      .before {
        position: relative;
        display: grid;
        place-items: center;
        width: 50%;
        height: 100%;
        min-width: 55px;
        max-width: calc(100% - 52px);
        border-right: 2px solid #181818;
        background: url("/services/before.jpg");
        background-position-y: -60px;

        .resize_button {
          cursor: ew-resize;
          position: absolute;
          display: grid;
          place-items: center;
          right: -38px;
          width: 74px;
          height: 74px;
          background-color: #181818;
          transform: rotateZ(45deg);

          &::after {
            content: "DRAG";
            color: #fff;
            position: absolute;
            transform: rotateZ(-45deg);
          }
        }
      }
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 2.5rem;
  }
}

.influencers_collaborations {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
    
  h2 {
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    max-width: 35ch;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }

  .divider {
    width: 150px;
    height: 2px;
    background-color: #181818;
    margin: 2.25rem 0 2.5rem;
  }

  p {
    padding-bottom: 1.5rem;
    max-width: 52ch;
  }

  button {
    margin-top: 1.25rem;
  }
}

// TABLET
@media (max-width: 1100px) and (min-width: 769px) {
  .services {
    padding: 2.5rem 0 5.5rem;

    h1 {
      font-size: 24px;
      line-height: 36px;
    }

    .divider {
      width: 125px;
      margin: 1.75rem 0 2.75rem;
    }
  }

  .services_list {
    .service {
      margin-bottom: 4.5rem;

      .service_image {
        height: 275px;
        max-width: 400px;

        &::after,
        &::before {
          width: 50px;
          height: 50px;
        }

        &::after {
          top: -10px;
          left: -10px;
        }

        &::before {
          bottom: -10px;
          right: -10px;
        }
      }

      .service_info {
        max-width: 400px;
        padding: 1.5rem 0 1.5rem 3rem;

        h3 {
          font-size: 18px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    .service:nth-child(even) {
      .service_info {
        padding: 1.5rem 3rem 1.5rem 0;
      }
    }
  }

  .before_after {
    margin: 8rem 0 6rem;

    .slider_wrapper {
      max-width: 700px;
      height: 450px;

      .after {
        box-shadow: 0 7px 30px rgba(0, 0, 0, 0.045);
        background-position-y: -30px;
        background-size: 700px auto;

        .before {
          min-width: 46px;
          max-width: calc(100% - 45px);
          background-position-y: -30px;
          background-size: 700px auto;

          .resize_button {
            right: -33px;
            width: 64px;
            height: 64px;

            &::after {
              font-size: 14px;
            }
          }
        }
      }
    }

    h3 {
      font-size: 18px;
      margin-top: 2rem;
    }
  }

  .influencers_collaborations {
    h2 {
      font-size: 24px;
      line-height: 36px;
    }
  
    .divider {
      width: 125px;
      margin: 1.75rem 0 2rem;
    }
  
    p {
      padding-bottom: 1.25rem;
      font-size: 14px;
      max-width: 53ch;
    }
  
    button {
      margin-top: 1rem;
    }
  }
}

// MOBILE
@media (max-width: 768px) {
  .services {
    padding: 2rem 0 4.5rem;

    h1 {
      font-size: 20px;
      line-height: 32px;
    }

    .divider {
      width: 100px;
      margin: 1.5rem 0 2.5rem;
    }
  }

  .content {
    width: 100%;
    max-width: 450px;
  }

  .services_list {
    .service {
      flex-direction: column;
      margin-bottom: 3.5rem;

      .service_image {
        width: 100%;
        height: 55vw;
        max-height: 275px;

        &::after,
        &::before {
          width: 35px;
          height: 35px;
        }

        &::after {
          top: -8px;
          left: -8px;
        }

        &::before {
          bottom: -8px;
          right: -8px;
        }
      }

      .service_info {
        width: 100%;
        padding: 0;
        margin-top: 1.5rem;

        h3 {
          font-size: 16px;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 12px;
          margin-top: 0.35rem;
        }
      }
    }

    .service:nth-child(even) {
      flex-direction: column;

      .service_info {
        padding: 0;
      }
    }
  }

  .before_after {
    margin: 4rem 0 3.5rem;

    .slider_wrapper {
      max-width: 450px;
      height: 275px;

      .after {
        border-radius: 5px;
        box-shadow: 0 7px 30px rgba(0, 0, 0, 0.045);
        background-position-y: -25px;
        background-size: 450px auto;

        .before {
          min-width: 38px;
          max-width: calc(100% - 37px);
          background-position-y: -25px;
          background-size: 450px auto;

          .resize_button {
            right: -27px;
            width: 52px;
            height: 52px;

            &::after {
              font-size: 12px;
            }
          }
        }
      }
    }

    h3 {
      font-size: 14px;
      margin-top: 1.5rem;
    }
  }

  .influencers_collaborations {
    h2 {
      font-size: 20px;
      line-height: 32px;
      max-width: 23ch;
    }
  
    .divider {
      width: 100px;
      margin: 1.5rem 0 1.75rem;
    }
  
    p {
      max-width: 54ch;
      font-size: 12px;
      padding-bottom: 1rem;
    }
  
    button {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 500px) {
  .before_after {
    .slider_wrapper {
      max-width: 400px;
      height: 245px;

      .after {
        background-position-y: -25px;
        background-size: 400px auto;

        .before {
          background-position-y: -25px;
          background-size: 400px auto;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .before_after {
    .slider_wrapper {
      max-width: 350px;
      height: 210px;

      .after {
        background-position-y: -25px;
        background-size: 350px auto;

        .before {
          background-position-y: -25px;
          background-size: 350px auto;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .before_after {
    .slider_wrapper {
      max-width: 320px;
      height: 205px;

      .after {
        background-position-y: -15px;
        background-size: 320px auto;

        .before {
          background-position-y: -15px;
          background-size: 320px auto;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .before_after {
    .slider_wrapper {
      max-width: 290px;
      height: 185px;

      .after {
        background-position-y: -15px;
        background-size: 290px auto;

        .before {
          min-width: 33px;
          max-width: calc(100% - 32px);
          background-position-y: -15px;
          background-size: 290px auto;

          .resize_button {
            right: -24px;
            width: 45px;
            height: 45px;

            &::after {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .before_after {
    .slider_wrapper {
      max-width: 260px;

      .after {
        background-position-y: -2.5px;
        background-size: 260px auto;

        .before {
          background-position-y: -2.5px;
          background-size: 260px auto;
        }
      }
    }
  }
}

@media (max-width: 330px) {
  .before_after {
    .slider_wrapper {
      max-width: 260px;

      .after {
        background-position-y: -2.5px;
        background-size: 260px auto;

        .before {
          background-position-y: -2.5px;
          background-size: 260px auto;
        }
      }
    }
  }
}